.list-item{
  display: flex;
  margin: 8px 0;
  border: none;
  border: 1px solid #52A8FF;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-height: 42px;
}

.button-complete,
.button-delete,
.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete{
  margin-right: 10px;
}

input:focus,
button:focus{
  outline: none;
}

.list{
  width: 92%;
  border: none;
  font-size: 14px;
  color: #52A8FF;
  padding-left: 10px;
  padding-right: 15px;
  background-color: #fff;
}